
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}


header {
    background: #262628;
    color: white;
    padding: 20px;
    text-align: center;
}


.navbar {
    background-color: #555;
    overflow: auto;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #000;
}


.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grocery-item {
    
    box-sizing: border-box;
    background-color: #ffffff;
    align-items: left;
    text-align: center;
    padding: 20px;
    max-width: 200px;
}

.grocery-item img {
    max-width: 50px;
    max-height: 50px;
}

.grocery-details {
    flex-grow: 1;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50%; 
    height:300px;
    background-color: rgb(71, 70, 77);
    color: rgb(255, 255, 255);
    text-align: center;
    
}

.footer2 {
    position: fixed;
    right: 0; 
    bottom: 0;
    width: 50%; 
    height: 300px;
    background-color: rgb(71, 70, 77);
    color: rgb(255, 255, 255);
    text-align: center;
}





input[type="text"],
input[type="email"],
input[type="password"],
textarea,
input[type="submit"] {
    width: 60%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #434141;
    border-radius: 5px;
    text-align: left;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

/* Remove outline for all elements */
*:focus {
    outline: none;
}
